.exercise-overview{
    width: 100%;
    margin: 20px;
}

.overview-header{
    display: flex;
    flex: row;
    justify-content: space-between;
}

.overview-text h1{
    font-size: 36px;
}
.overview-button{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
    

.overview-button button{
    margin: auto;
    background-color: orange;
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: .3s;
    height: 40px;
}

.overview-button button:hover{
    transform: scale(1.1) translateY(-7px);
    cursor: pointer;
    box-shadow: 0px 0px 10px grey;
    background-color: green;
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 20px;
}